<h1>This page needs video</h1>

<%= image_tag "Headshot.png", class: "img-rounded", style: 'float: left'%>
<p>Tom grew up dirt poor in Philadelphia.  He began working at Herbie's gas station at the age of 11 to help support his family.  At Herbie's he learned the value of a dollar and developped an unrivaled work ethic.</p>

<p>This work ethic allowed him to earn his Bachelors and Masters degrees with honors in Accounting and Finance from Drexel University while working full time.

<p>While his degrees from Dexel enabled him to enter the white collar world, he never lost his blue collar attitude.  Working harder than his peers, Tom became one of the youngest partners in the history of Peat Marwick (now KPMG) at the age of 29.</p>

<p>Since then he has served as the CFO of a public company, worldwide divisional CFO of a global technology company, Board Member and Chair of the Audit Committee for a public company, controlling partner in a real estate investment company.</p>

<p>Today Tom enjoys working with small and mid-size companies who don't need a full time CFO but don't want to skimp on knowledge or experience.  If you think your company might benefit from Tom's experience and work ethic, <%= link_to "contact", 'contact' %> him today. </p>
