<%= image_tag "Headshot.png", class: "img-rounded", style: 'float: left; margin-right:10px' %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue justo, aliquet a arcu ac, eleifend congue tortor.</p>

<p>Aliquam pulvinar velit consequat hendrerit molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam sagittis mauris et felis semper, nec sollicitudin mi commodo.</p>

<p>Praesent tempus porttitor iaculis. Sed nec sollicitudin diam, quis blandit leo. Aliquam quis pretium elit. Duis ultrices vitae velit quis elementum. </p>

<p>Morbi pellentesque hendrerit augue a suscipit. Sed dignissim orci ut facilisis iaculis. Morbi id elementum eros. Nunc ultrices consequat orci, vel porta mi. Fusce nisi tortor, lobortis bibendum pretium vel, feugiat eget tortor. </p>

<p>Morbi laoreet pharetra dui fermentum vulputate. Sed fermentum lacus id eros lacinia tempor. Nunc gravida condimentum orci, eu tincidunt justo interdum sit amet.  </p>
