<h1>Contact me for a free consultation</h1>



	<i class="fa fa-envelope fa-4x"></i>  <a href="mailto:#"></a>Tom@PhillyCFO.com<br>
	<i class="fa fa-phone-square fa-4x"></i>  610-647-0699<br>
  <i class="fa fa-linkedin-square fa-4x"></i>  LinkedIn<br>