<div class="jumbotron">
<h1>Contact me for a free consultation</h1>
</div>

<%-# Services Section -%>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-envelope fa-4x"></i>
        <h3><a href="mailto:Tom@PhillyCFO.com">Tom@PhillyCFO.com</a></h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-phone-square fa-4x"></i>
        <h3><a href="tel:610-647-0699">610-647-0699</a></h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-linkedin-square fa-4x"></i>
        <h3><a href=https://www.linkedin.com/in/tjcoffey> LinkedIn</a></h3>
      </div>
    </div>
  </div>
</div>