<div class="jumbotron">
  <h1>Billion dollar CFO</h1>
  <h2>for your million dollar business</h2>
  <p><%= link_to "About Tom", 'about', class: "btn btn-primary" %></p>
</div>


<%-# Press Section -%>

<div class="row">
  <div class="col-md-3"> <%= image_tag "wsj.png"%></div>
  <div class="col-md-3">.col-md-3</div>
  <div class="col-md-3">.col-md-3</div>
  <div class="col-md-3">.col-md-3</div>
  <br><br>
</div>


<%-# Services Section -%>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Part-Time CFO</h3>
        <p>You need a CFO to support your growth. But you don't want to spend $300k on a full time hire and you don't want to pay someone to learn on the job. </p><br>
        <p><a href="#" class="btn btn-default" role="button">Learn More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Accounting Implementation</h3>
        <p>Your business has grown faster than your accounting capabilites.  I allow you to focus on your core capabilites and provide better financial data enabling better decisions.</p>
        <p><a href="#" class="btn btn-default" role="button">Learn More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Transactional CFO</h3>
        <p>You're raising funds, engaged in M&A or preparing for an IPO. I've done it all and can get you derive maximum value from the transaction.</p><br>
        <p><a href="#" class="btn btn-default" role="button">Learn More</a></p>
      </div>
    </div>
  </div>
</div>