<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>
  
  
  <div class="carousel-inner">
   
    <!-- Default Carousel Item --> 
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify>Having Tom is like having a CFO from a very large successful company. I finally have financial reports that I understand.  I wish I had done this years ago.</p>
          <h3 align=right>Michael Nolen, President, <a href="http://www.michaelanthonyhomes.com/">Michael Anthony Homes</a></h3></p>
        </div>
      </div>
    </div>

    <!-- Additional Carousel Items -->
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify> Tom became a trusted advisor and insider to steer our client to collecting $xxx million on the sale of their business. </p>
          <h3 align=right>Patrick Hurley, Managing Director,  <a href="www.mmadvisors.com">MidMarket Capital Advisors</a></h3></p>
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify> Having the benefit of Tom’s expertise on an "as needed" basis was invaluable to our fledgling company. Tom’s rates are reasonable and well worth the services he provides.</p>
          <h3 align=right>Erik Gabell, COO & Principal, <a href="http://paradigmcompanies.com/">Paradigm Realty Alliance, LLC</a></h3></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify>Tom is a first class CPA - he has a depth of accounting knowledge that I have not found in any other accountant.</p>
          <h3 align=right>Alan Keim, Shareholder,  <a href="http://www.imagingsciences.com">Imaging Science International</a></h3></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify>Tom was a critical part of the deal team. Tom served as CFO for the company, assisted with deal structuring and review of documents and was part of the due diligence and negotiating team. The deal would not have gotten done without Tom's assistance. </p>
          <h3 align=right>Neil K. Haimm, Partner, <a href="http://www.drinkerbiddle.com/">Drinker Biddle & Reath, LLP</a></h3></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify>Our growth had outstripped our financial planning tools and capability.  Tom Coffey has been a great help in sorting through and re-creating our financial reporting systems.  He has a terrific ability to communicate critical financial metrics.</p>
          <h3 align=right>Neil P. Hoffmann, President, <a href="http://www.franciscauffman.com">Francis Cauffman</a></h3></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p align=justify>Tom provided valuable assistance to my client as t grew from an early stage startup with disorganized records into a venture-backed company. Tom is both a man of integrity and a pleasure to work with</p>
          <h3 align=right>Kate Shay, Partner, <a href="http://www.duanemorris.com">Duane Morris LLP</a></h3></p>
        </div>
      </div>
    </div>
  
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->