.fl-node-5f3f8845246bf .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3f8845246bf .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3f8845246bf .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5f3f8845246bf > .fl-row-content-wrap {background-color: #fff;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8845246bf > .fl-row-content-wrap {padding-top: 40px;padding-bottom: 40px;}
.fl-node-5f3b31933e639 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3b31933e639 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3b31933e639 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5f3b31933e639 > .fl-row-content-wrap {background-color: #f7f7f7;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8885751e9 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3f8885751e9 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3f8885751e9 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8885751e9 > .fl-row-content-wrap {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5f3f8885751e9 > .fl-row-content-wrap {padding-top: 40px;padding-bottom: 40px;}
.fl-node-5f3f8845246ba {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8845246bb {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3b3193418ba {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8885751e7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3f8845246bd > .fl-module-content {margin-bottom: 0px;}